# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.pyc

# Flask specific files
instance/
*.sqlite3

# Logs and debugging files
*.log
*.bak
*.swp
*.pid
*.seed

# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Python cache files
*.pyo

# Node modules (if applicable)
node_modules/

# Test coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.temp

/data/sbert_model.pkl
